[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
aiohttp = "*"
aiosignal = "*"
async-timeout = "*"
attrs = "*"
base58 = "*"
bitarray = "*"
certifi = "*"
charset-normalizer = "*"
cytoolz = "*"
eth-abi = "*"
eth-account = "*"
eth-hash = "*"
eth-keyfile = "*"
eth-keys = "*"
eth-rlp = "*"
eth-typing = "*"
eth-utils = "*"
frozenlist = "*"
hexbytes = "*"
idna = "*"
importlib-resources = "*"
jsonschema = "*"
lru-dict = "*"
multiaddr = "*"
multidict = "*"
netaddr = "*"
parsimonious = "*"
protobuf = "*"
psycopg2 = "*"
pycryptodome = "*"
pyrsistent = "*"
python-dotenv = "*"
requests = "*"
rlp = "*"
six = "*"
toolz = "*"
urllib3 = "*"
varint = "*"
web3 = "*"
websockets = "*"
yarl = "*"
zipp = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
